---
layout: default
---

<div class="home">

  <h1 class="page-heading">Repositories</h1>

  <ul class="post-list">
    {% assign sortedPosts = site.posts | sort: 'title' %}
    {% for post in sortedPosts %}
      <li>

        <h2 style="margin:0">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {% if post.titleImage %}
                <img class="post-link-icon" src="{{site.baseurl}}/images/{{post.title}}/{{post.titleImage}}" />
              {% else %}
                <span class="post-link-no-icon" ></span>
              {% endif %}
            {{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.brief }}</span>
        <p class="post-meta">{{ post.categories | join: " | " }}</p>
        <hr>
      </li>
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for folder in site.testout %}
      <li>{{folder}}</li>
    {% endfor %}
  </ul>

</div>
